/**
 * Font family embeds
 **/
 
@font-face {
    font-family: 'Leytonstone';
    src: url('../fonts/../fonts/leytonstone-regulardb-webfont.eot');
    src: url('../fonts/leytonstone-regulardb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leytonstone-regulardb-webfont.woff') format('woff'),
         url('../fonts/leytonstone-regulardb-webfont.ttf') format('truetype'),
         url('../fonts/leytonstone-regulardb-webfont.svg#leytonstone_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../fonts/Museo_Slab_500-webfont.eot');
    src: url('../fonts/Museo_Slab_500-webfont.eot?iefix') format('eot'),
         url('../fonts/Museo_Slab_500-webfont.woff') format('woff'),
         url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('../fonts/Museo_Slab_500-webfont.svg#webfontyumMOUTD') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** 
 * Site styles.
 * Written by the bride.
 * P.S.: IE7+8, I still hate you.
 **/

html { background: url('../img/bodybg.jpg') repeat; }
body { background: url('../img/headerbg.jpg') top center no-repeat; font-size: 16px; color: #b6bbc7; }

h1 { text-indent: -9999px; line-height: 1px; }
h2 {
	font-family: 'Leytonstone', cursive;
	font-size: 60px;
	line-height: 25px;
	color: #fffef4;
	text-shadow: 0px -1px 0px #000000;
	margin-left: -5px;
	font-weight: normal;
}
h3 { font-family: 'MuseoSlab', serif; font-size: 21px; color: #fffef4; text-shadow: 0px 1px 0px #000000; font-weight: normal; }

p { line-height: 1.5em; margin-top:10px; }
a { color: #fffef4; font-weight: bold; }

img { }
img.alignright { float: right; margin-right: -30px; }

hr {
	display: block;
	height: 100px;
	margin:auto;
	clear:both;
	border: 0;
	color: #1a243b; /* dumb ie fix */
}


#header { margin-top: 74px; }
#header #header_photo {  }
#header #header_details { margin-top: 45px; }
#header_details > .row { 
	margin-top: 30px; 
	font-family: 'MuseoSlab', serif; 
	font-size: 24px; 
	line-height: 30px; 
	color: #fffef4; 
	text-shadow: 0px -1px 0px #000000; 
}
#header_details > .row .alt { font-size: 21px; color: #7a8295; }
	
#header_details a {
	display: block;	
	margin: 14px 0 0 76px;
	width: 300px;
	height: 111px;
	background: url('../img/spritesheet.png') center center no-repeat;
	background-position: 0px -1067px;
	text-indent: -9999px;
}
#header_details a:hover { background-position: 0px -946px; }


#rsvp {
	background: url('../img/rsvp_bg.png') repeat;
	font-family: 'MuseoSlab', serif;
	font-size: 21px;
	color: #fffef4;
	text-shadow: 0px -1px 0px #000000;
}
#rsvp p { line-height: 24px; }
#rsvp #rsvp_content_top { text-align: center; padding-top: 20px; }

#rsvp h2#rsvp_header { font-family: 'MuseoSlab', serif; font-size: 36px; color: #fffef4; text-shadow: 0px -1px 0px #000000;	}

form { text-align: center; padding-top: 15px; }
	
form input#names {
	display: block;
	width: 836px;
	height: 30px;
	font-size: 18px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 200;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 10px 20px;
}
	
	input#no, input#yes {
		cursor: pointer;
	}
	
	label#label_yes, label#label_no {
		font-size: 24px;
		margin-left: 5px;
		line-height: 47px;
		vertical-align: top;
		cursor: pointer;
	}
		label#label_yes {
			margin-right: 110px;
		}
	
	form textarea {
		margin-top: 20px;
		width: 385px;
		height: 160px;
		padding: 20px;
		*padding-left: 0px;
		*padding-right: 0px;
		font-size: 18px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 200;
		text-align: center;
		resize: none;
		overflow: auto;
		
	}
		textarea#foodallergies {
			margin-right: 20px;	
		}
		
	input#submit {
		width: 300px;
		height: 111px;
		border: 0;
		text-indent: -9999px;
		background: url('../img/spritesheet.png') center center no-repeat;
		background-position: 0px -825px;
		cursor: pointer;
		margin-top: 15px;
		text-transform: capitalize; /* IE7 needs this for some reason to work. */
	}	
		input#submit:hover {
			background-position: 0px -704px;
		}

footer {
	text-align:center;	
	padding: 50px 0;
	background: #000 url('../img/footer_bg.jpg') top center repeat-x;
}

	footer p {
		font-size: 10px;
		margin-top: 30px;
	}
	
	footer p a {
		color: #B6BBC7;	
	}
	
		footer p a:hover {
			color: #fff;	
		}